<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <meta name="keywords" content="Golang, Go语言, Golang 中国, Golang社区, golang.tc" />
    <meta name="description" content="Golang中国社区，致力于打造国内Gopher交流的地方，提供社区，文章，酷站，第三方包，下载功能">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./static/css/base.css" rel="stylesheet">
    <link href="./static/css/index.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="top_nav">
          <div class="container">
            <span class="pull-left"><a href="#">果实文摘</a> - 致力于提供精彩名言名句！(GSHIW.COM)</span>
            <span class="pull-right">
              <a href="">微信公众号</a>
              <a href="">微信小程序</a>
              <a href="">提交情报</a>
              <a href="">手机版</a>
            </span>
          </div>
        </div>
        
        <div id="header-top">
          <div class="container">
            <div id="logo">
              <a href="#" class="logo-img" title="果实文摘"></a>
            </div>
            <div id="top_ad">
              <a href=""><img src="https://wx4.sinaimg.cn/large/6270203agy1fl9rus9boaj20zk03cq3p.jpg"></a>
            </div>
          </div>
        </div>

        <div id="menu">
          <div class="container">
            <nav class="navbar navbar-default" role="navigation”>
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">名人名言</a></li>
                    <li><a href="#">名言名句</a></li>
                    <li><a href="#">诗词名句</a></li>
                    <li><a href="#">励志名言</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      
      </header>


      <div class="body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 today_quote">
                <p>但我最最希望的是，你能明白我下面的话，尽管我不了解你，甚至从未见过你，未曾一起欢笑悲伤，未曾吻过你的面庞，我仍然要告诉你，我爱你，我全心全意爱你。</p>
                <span>——老舍</span>
            </div>
          </div>

          <div class="row group">
            <div class="col-md-4 people">
              <h2>名人名言</h2>
              <ul>
                <li><a href="">老舍</a></li>
                <li><a href="">列夫托尔斯泰</a></li>
                <li><a href="">普希金</a></li>
                <li><a href="">巴金</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
                <li><a href="">老舍</a></li>
                <li><a href="">列夫托尔斯泰</a></li>
                <li><a href="">普希金</a></li>
                <li><a href="">巴金</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
                <li><a href="">老舍</a></li>
                <li><a href="">列夫托尔斯泰</a></li>
                <li><a href="">普希金</a></li>
                <li><a href="">巴金</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
                <li><a href="">毛泽东</a></li>
                <li><a href="">李大钊</a></li>
                <li><a href="">雷锋</a></li>
              </ul>
            </div>
            <div class="col-md-4 subject">
              <h2>热门分类</h2>
              <ul>
                <li><a href="">爱情</a></li>
                <li><a href="">喜悦</a></li>
                <li><a href="">高兴</a></li>
                <li><a href="">青春</a></li>
                <li><a href="">励志</a></li>
                <li><a href="">年迈</a></li>
                <li><a href="">故乡</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">伤心</a></li>
                <li><a href="">悲伤</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">痛苦</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
                <li><a href="">爱情</a></li>
                <li><a href="">喜悦</a></li>
                <li><a href="">高兴</a></li>
                <li><a href="">青春</a></li>
                <li><a href="">励志</a></li>
                <li><a href="">年迈</a></li>
                <li><a href="">故乡</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">伤心</a></li>
                <li><a href="">悲伤</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">痛苦</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
                <li><a href="">爱情</a></li>
                <li><a href="">喜悦</a></li>
                <li><a href="">高兴</a></li>
                <li><a href="">青春</a></li>
                <li><a href="">励志</a></li>
                <li><a href="">年迈</a></li>
                <li><a href="">故乡</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">伤心</a></li>
                <li><a href="">悲伤</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">痛苦</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
              </ul>
            </div>

            <div class="col-md-4 topic">
              <h2>热门话题</h2>
              <ul>
                <li><a href="">春天</a></li>
                <li><a href="">秋天</a></li>
                <li><a href="">冬天</a></li>
                <li><a href="">河流</a></li>
                <li><a href="">大山</a></li>
                <li><a href="">鸟</a></li>
                <li><a href="">花</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">长城</a></li>
                <li><a href="">天安门</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">故宫</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
                <li><a href="">树</a></li>
                <li><a href="">喜悦</a></li>
                <li><a href="">高兴</a></li>
                <li><a href="">青春</a></li>
                <li><a href="">知了</a></li>
                <li><a href="">年迈</a></li>
                <li><a href="">故乡</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">伤心</a></li>
                <li><a href="">悲伤</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">痛苦</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
                <li><a href="">爱情</a></li>
                <li><a href="">喜悦</a></li>
                <li><a href="">高兴</a></li>
                <li><a href="">青春</a></li>
                <li><a href="">励志</a></li>
                <li><a href="">年迈</a></li>
                <li><a href="">故乡</a></li>
                <li><a href="">远方</a></li>
                <li><a href="">家乡</a></li>
                <li><a href="">伤心</a></li>
                <li><a href="">悲伤</a></li>
                <li><a href="">烦恼</a></li>
                <li><a href="">痛苦</a></li>
                <li><a href="">无助</a></li>
                <li><a href="">茫然</a></li>
              </ul>
            </div>
          </div>

          <div class="row quotes">
            <div class="col-md-6 recent-quotes">
              <h2>最新句子</h2>
              <ul>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
              </ul>
            </div>

            <div class="col-md-6 hot-quotes">
              <h2>热句推荐</h2>
              <ul>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
                <div class="quote-item">
                  <div class="content"><p>当人生过得没有什么意义的时候才能有真正意义上的朋友，否则，在意义中交的朋友，在意义消失之后是否还存在就是一个问题了。</p></div>
                  <span>——<a href="">南派三叔</a>&nbsp;&nbsp;《<a href="">藏海花</a>》</span>
                  <div class="quote-meta">
                    <li>
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span><a href="">查看同类</a>
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>234
                    </li>
                    <li>
                      <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>12
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>

          <div class="row works">
            <div class="col-md-12">
              <h2>作品名句集</h2>
              <ul>
                <li><a href="">骆驼祥子</a></li>
                <li><a href="">钢铁是咋样炼成的</a></li>
                <li><a href="">诗经</a></li>
                <li><a href="">三味书屋</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>


      <footer>
        <div id="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-6 copyright-l">
                <p>© <a href="">GSHIW.COM</a></p>
                <ul class="col-md-4">
                  <li><a href="">使用条款</a></li>
                  <li><a href="">帮助中心</a></li>
                  <li><a href="">发帖帮助</a></li>
                </ul>
                <ul class="col-md-4">
                  <li><a href="">商务合作</a></li>
                  <li><a href="">关于我们</a></li>
                  <li><a href="">加入我们</a></li>
                </ul>
                <ul class="col-md-4">
                  <li><a href="">更新日志</a></li>
                  <li><a href="">意见与建议</a></li>
                </ul>
              </div>

              <div class="col-md-6 copyright-r">
                <div class="col-md-9 webinfo">
                  <p>果实文摘是一个提供名言名句、名人名句、励志名句、诗词名句、唯美句子的网站，我们致力于提供最全、最经典的句子，做最好的名句文摘网站！</p>
                  <p><b><a href="">果实文摘</a></b>官方QQ群：4243674 ( 加群注明论坛用户名！ )</p>
                </div>
                <div class="col-md-3 qcode">
                  <img src="https://gitee.com/assets/qrcode-weixin-8ab7378f5545710bdb3ad5c9d17fedfe.jpg">
                  <p>关注果实文摘公众号</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-bottom">
          <div class="container">
            <p class="pull-left">Copyright © 2017-2020 版权所有 果实文摘</p>
            <p class="pull-right">
              <a href="">网站地图</a>
              <a href="">网站统计</a>
              <a href="">百度统计</a>
              <a href="">京ICP备10020153号</a>
            </p>
          </div>
        </div>
      </footer>
    </div>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
  </body>
</html>